@import "tailwindcss";

/* Configure dark mode to use class selector */
@variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-geist-mono);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: var(--font-geist-mono), ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
}
